#root {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

header {
  width: 100%;
  min-height: 20dvh;
}

main {
  width: 100%;
  min-height: 50dvh;
}

footer {
  width: 100%;
  min-height: 30dvh;
}
